flush table inet platform
table inet platform {
  chain input {
    type filter hook input priority 10; policy drop;
    ct state established,related accept
    iifname lo accept
    meta l4proto { icmp, ipv6-icmp } accept
    udp dport 41641 accept
    udp sport 67 udp dport 68 accept
    udp sport 547 udp dport 546 accept
    iifname tailscale0 tcp dport { 22, 6443, 9100, 10250 } accept
    iifname tailscale0 udp dport 8472 accept
{% if platform_role == 'server' %}
    iifname "{{ platform_private_interface }}" tcp dport { 2379, 2380, 6443, 9100, 10250 } accept
{% endif %}
    ip saddr {{ platform_pod_cidr }} tcp dport { 6443, 9100, 10250 } accept
  }
}
