[Unit]
After=tailscaled.service
Before=k3s.service
Requires=tailscaled.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/usr/sbin/nft add table inet platform
ExecStart=/usr/sbin/nft -f /etc/platform/firewall.nft
ExecReload=/usr/sbin/nft -f /etc/platform/firewall.nft

[Install]
WantedBy=multi-user.target
