[Unit]
After=network-online.target
Wants=network-online.target

[Service]
ExecStartPre=/usr/sbin/haproxy -c -f /etc/platform/haproxy.cfg
ExecStart=/usr/sbin/haproxy -W -db -f /etc/platform/haproxy.cfg
Restart=always
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
