use doppler
PATH_add .cache/dev/tools
PATH_add .venv/bin
export INFRA_TOOL_CACHE=$PWD/.cache/dev/tools
kubeconfigs=$(find ~/.kube -maxdepth 2 -name '*.yaml' -type f 2>/dev/null | sort | paste -sd: -)
if [ -n "$kubeconfigs" ]; then
  export KUBECONFIG="$kubeconfigs"
fi
