[Unit]
After=docker.service network-online.target
Requires=docker.service

[Service]
Group={{ build_engine.group }}
RuntimeDirectory=infra-dagger/{{ build_engine.slug }}
RuntimeDirectoryMode=0750
ExecStartPre=-/usr/bin/docker rm -f {{ build_engine.name }}
ExecStart=/usr/bin/docker run --rm --name {{ build_engine.name }} --cgroup-parent=infra-engine.slice --oom-score-adj=-500 --privileged --pids-limit={{ build_engine_pids }} --volume infra-dagger-cache-{{ build_engine.slug }}:/var/lib/dagger --volume /run/infra-dagger/{{ build_engine.slug }}:/run/dagger --volume /etc/infra-dagger/{{ build_engine.slug }}.toml:/etc/dagger/engine.toml:ro --volume /etc/infra-dagger/engine.json:/etc/dagger/engine.json:ro {{ build_engine_image }} --addr unix:///run/dagger/engine.sock --group {{ build_engine_gid }} --oci-max-parallelism={{ build_engine_parallelism }} --oci-worker-gc
ExecStop=/usr/bin/docker stop --time 30 {{ build_engine.name }}
Restart=on-failure
RestartSec=5
TimeoutStopSec=45

[Install]
WantedBy=multi-user.target
