[Unit]
After=infra-dagger.service infra-bazel-cache.service

[Timer]
OnBootSec=2min
OnUnitInactiveSec={{ build_engine_prewarm_interval }}
RandomizedDelaySec=5min
Persistent=true
Unit=infra-build-prewarm.service

[Install]
WantedBy=timers.target
