Match User infra-backup-status
    AuthenticationMethods publickey
    PubkeyAuthentication yes
    AuthorizedKeysCommand none
    TrustedUserCAKeys none
    AcceptEnv LANG LC_*
    AuthorizedKeysFile /etc/ssh/authorized_keys/infra-backup-status
    PasswordAuthentication no
    KbdInteractiveAuthentication no
    PermitEmptyPasswords no
    DisableForwarding yes
    PermitTTY no
    PermitUserRC no
    MaxSessions 1
    ForceCommand /usr/bin/timeout -s TERM -k 1 8 /usr/bin/python3 -I /usr/local/libexec/infra-backup-status
Match all
