add table inet platform_host
flush table inet platform_host
table inet platform_host {
  chain input {
    type filter hook input priority -5; policy drop;
    iifname "lo" accept
    ct state invalid drop
    ct state established,related accept
    meta l4proto { icmp, ipv6-icmp } accept
    udp sport 67 udp dport 68 accept
    ip6 saddr fe80::/10 udp sport 547 udp dport 546 accept
    udp dport {{ firewall_tailscale_port }} accept
    iifname "tailscale0" accept
{% for cidr in firewall_admin_ipv4_cidrs %}
    ip saddr {{ cidr }} tcp dport 22 accept
{% endfor %}
    iifname { "cni0", "flannel.1", "flannel-wg" } ip saddr {{ firewall_pod_cidr }} tcp dport { 6443, {{ firewall_node_local_dns_metrics_port }}, 10250 } accept
    iifname "cni0" ip saddr {{ firewall_pod_cidr }} ip daddr { {{ firewall_node_local_dns_addresses | join(', ') }} } meta l4proto { tcp, udp } th dport 53 accept
{% if build_vm_enabled | default(false) | bool %}
    iifname "cni0" ip saddr {{ firewall_pod_cidr }} tcp dport {{ build_vm_metrics_port }} accept
{% endif %}
{% if inventory_hostname in groups['server'] %}
{% for node in groups['server'] %}
    ip saddr {{ hostvars[node].private_ip | default(hostvars[node].tailscale_ip) }} tcp dport { 2379, 2380, 6443, {{ firewall_node_local_dns_metrics_port }}, 10250 } accept
{% endfor %}
{% endif %}
  }

  chain output {
    type filter hook output priority -5; policy accept;
    meta mark and 0xff0000 == 0x80000 ip daddr {{ firewall_pod_cidr }} drop
  }
}
