[Container]
ContainerName=llunde-valkey
Exec=valkey-server --appendonly yes --save "" --maxmemory 192mb --maxmemory-policy noeviction
Image=docker.io/valkey/valkey@sha256:495e4fecdc98ee48a20b207726caa5ab6451e0fac3642a9be10d9e70b3068df6
Network=llunde-backend-data.network
Volume=/home/llunde-backend/data/valkey:/data

[Service]
MemoryMax=384M
Restart=always

[Install]
WantedBy=default.target
