[defaults]
inventory = inventory/production.yml
roles_path = roles
forks = 10
strategy_plugins = plugins/strategy
strategy = mitogen_linear
host_key_checking = True
retry_files_enabled = False
interpreter_python = auto_silent
gathering = smart
fact_caching = memory

[ssh_connection]
pipelining = True
