[
{% for endpoint in gatus_configuration.endpoints %}
{% if endpoint.name in ['grafana-login', 'grafana-auth'] %}
{{ endpoint | combine({'url': 'https://' ~ grafana_host ~ ('/login' if endpoint.name == 'grafana-login' else '/api/user')}) | to_json }}
{% else %}
{{ endpoint | to_json }}
{% endif %}
{{ ',' if not loop.last else '' }}
{% endfor %}
]
